@import "../../shared/scss-variables-mixins/variables-mixins.scss";

.status__filter {
  margin-bottom: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.is__closed {
  opacity: .6;
  transition: all .3s linear;

  .restore__order__btn {
    background-color: $material-blue-dark;
    color: white;
  }

}

.is__closed:hover {
  opacity: 1;
}

.search__container {
  @include display-flex(column, center, center);

  .input__search__container {
    width: 300px;
    margin: 20px auto 0 auto;
  }

}


.client__order {
  @include max-width(800px);
   margin: 0 auto 20px auto;
   border-top: 5px solid $material-blue-dark;

  .expansion__panel {
    margin: 20px 0;
  }

  .client__info__table tr td,
  .car__info__table tr td {

    padding: 5px 20px;

    &:first-child {
      font-weight: bold;
    }

  }

  .detail__info__table {
    margin-top: 15px;

    tr td,
    tr th {
      padding: 5px 20px;
      text-align: left;
    }

    tr:last-child td {
      font-weight: bold;
    }

  }

  .control__panel {
    display: flex;
    justify-content: flex-end;

    .close__order__btn {
      background-color: $material-red;
      color: white;
    }

  }

}