<div class="search__container">
  <mat-form-field appearance="outline" class="input__search__container">
    <mat-label>Пошук по vin-коду</mat-label>
    <input matInput [(ngModel)]="searchValue.carInfo.vinCode" placeholder="Пошук по vin-коду" autocomplete="off">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<mat-card *ngFor="let order of orders | filterBy: searchValue" class="client__order" [class.is__closed]="order.status === 'closed'">
  <mat-card-header>
    <mat-card-title class="client__order__title">{{ order.carInfo.vinCode }} (Загальна вартість замовлення {{ order.workInfo.totalCost }} Грн)</mat-card-title>
    <mat-card-subtitle>{{ order.date }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-expansion-panel class="expansion__panel">
      <mat-expansion-panel-header>
        <mat-panel-title>Загальна інформація про клієнта</mat-panel-title>
      </mat-expansion-panel-header>
      <table class="client__info__table">
        <tr>
          <td>ПІБ клієнта:</td>
          <td>{{ order.clientInfo.name }}</td>
        </tr>
        <tr>
          <td>Номер телефону:</td>
          <td>{{ order.clientInfo.phoneNumber }}</td>
        </tr>
      </table>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion__panel">
      <mat-expansion-panel-header>
        <mat-panel-title>Інформація про авто</mat-panel-title>
      </mat-expansion-panel-header>
      <table class="car__info__table">
        <tr>
          <td>Марка:</td>
          <td>{{ order.carInfo.make }}</td>
        </tr>
        <tr>
          <td>Модель:</td>
          <td>{{ order.carInfo.model }}</td>
        </tr>
        <tr>
          <td>Рік:</td>
          <td>{{ order.carInfo.year }}</td>
        </tr>
        <tr>
          <td>Номер:</td>
          <td>{{ order.carInfo.number }}</td>
        </tr>
        <tr>
          <td>Пробіг:</td>
          <td>{{ order.carInfo.miles }}</td>
        </tr>
      </table>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion__panel">
      <mat-expansion-panel-header>
        <mat-panel-title>Інформація про виконану роботу</mat-panel-title>
      </mat-expansion-panel-header>
      <b>Виконана робота (Вартість: {{ order.workInfo.workCost }} Грн)</b>
      <p>{{ order.workInfo.doneWork }}</p>
      <table *ngIf="order.carInfo.parts.length >= 1; else noDetails" class="detail__info__table">
        <b>Використані деталі:</b>
        <tr>
          <th>Назва</th>
          <th>Ціна</th>
        </tr>
        <tr *ngFor="let part of order.carInfo.parts">
          <td>{{ part.name }}</td>
          <td>{{ part.cost }}</td>
        </tr>
        <tr>
          <td>Загальна вартість</td>
          <td>{{ order.workInfo.partsCost }} Грн</td>
        </tr>
      </table>
      <ng-template #noDetails>
        <b>Деталі не були використані</b>
      </ng-template>
    </mat-expansion-panel>
  </mat-card-content>
  <mat-card-actions class="control__panel">
    <button 
      *ngIf="order.status === 'closed'; else newOrder"
      mat-button
      class="restore__order__btn"
      (click)="changeStatusOfOrder(order.key)"
    >Resore</button>
    <ng-template #newOrder>
      <button mat-button class="close__order__btn" (click)="changeStatusOfOrder(order.key)">Видалити замовлення</button>
    </ng-template>
  </mat-card-actions>
</mat-card>