<div class="search__container">
  <mat-form-field appearance="outline" class="input__search__container">
    <mat-label>Пошук по vin-коду</mat-label>
    <input matInput placeholder="Пошук по vin-коду">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>  
</div>

<mat-card *ngFor="let client of clients" class="client__order">
  <mat-card-header>
    <mat-card-title class="client__order__title">{{ client.carInfo.vinCode }} (Загальна вартість замовлення {{ client.workInfo.totalCost }} Грн)</mat-card-title>
    <mat-card-subtitle>{{ client.clientInfo.date }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-expansion-panel class="expansion__panel">
      <mat-expansion-panel-header>
        <mat-panel-title>Загальна інформація про клієнта</mat-panel-title>
      </mat-expansion-panel-header>
      <table class="client__info__table">
        <tr>
          <td>ПІБ клієнта:</td>
          <td>{{ client.clientInfo.name }}</td>
        </tr>
        <tr>
          <td>Номер телефону:</td>
          <td>{{ client.clientInfo.phoneNumber }}</td>
        </tr>
      </table>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion__panel">
      <mat-expansion-panel-header>
        <mat-panel-title>Інформація про авто</mat-panel-title>
      </mat-expansion-panel-header>
      <table class="car__info__table">
        <tr>
          <td>Марка:</td>
          <td>{{ client.carInfo.marque }}</td>
        </tr>
        <tr>
          <td>Модель:</td>
          <td>{{ client.carInfo.model }}</td>
        </tr>
        <tr>
          <td>Рік:</td>
          <td>{{ client.carInfo.year }}</td>
        </tr>
        <tr>
          <td>Номер:</td>
          <td>{{ client.carInfo.number }}</td>
        </tr>
        <tr>
          <td>Пробіг:</td>
          <td>{{ client.carInfo.miles }}</td>
        </tr>
      </table>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion__panel">
      <mat-expansion-panel-header>
        <mat-panel-title>Інформація про виконану роботу</mat-panel-title>
      </mat-expansion-panel-header>
      <b>Виконана робота (Вартість: {{ client.workInfo.workCost }} Грн)</b>
      <p>{{ client.workInfo.doneWork }}</p>
      <b>Використані деталі:</b>
      <table *ngIf="client.carInfo.details != undefined; else noDetails" class="detail__info__table">
        <tr>
          <th>Назва</th>
          <th>Ціна</th>
        </tr>
        <tr *ngFor="let detail of client.carInfo.details">
          <td>{{ detail.name }}</td>
          <td>{{ detail.cost }}</td>
        </tr>
        <tr>
          <td>Загальна вартість</td>
          <td>{{ client.workInfo.detailCost }} Грн</td>
        </tr>
      </table>
      <ng-template #noDetails>
        <p>Деталі не були використані</p>
      </ng-template>
    </mat-expansion-panel>
  </mat-card-content>
  <mat-card-actions class="control__panel">
    <button mat-button class="delete__order__btn" (click)="deleteClient(client.key)">Видалити замовлення</button>
  </mat-card-actions>
</mat-card>
