@import "./shared/scss-variables-mixins/variables-mixins.scss";

nav {
  @include display-flex(row, space-around, center);
  width: 100%;
  height: 60px;
  background-color: $material-blue;

  button {
    flex-grow: 1;
    font-size: 18px;
    margin: 5px;
    color: white;
    font-weight: bold;
    transition: background-color .3s linear;

    &:hover {
      background-color: $material-blue-dark;
    }

    &.active__link {
      background-color: $material-blue-dark;
      border-bottom: 2px solid white;
    }
  }
}

.main__container {
  height: calc(100% - 60px);
  overflow-y: auto;
}
