<mat-card class="client__info__card">
    <mat-card-header>
      <mat-card-title>Вкажіть інформацію про клієнта</mat-card-title>
      <mat-card-subtitle>поля позначені * є обов'язковими</mat-card-subtitle>
    </mat-card-header>

    <form (ngSubmit)="addClient(addClientForm)"  #addClientForm="ngForm">
    <mat-card-content>
      <h3>Загальна інформація про клєнта</h3>
      <fieldset>
          <mat-form-field>
            <input matInput [matDatepicker]="dp" placeholder="Дата оформлення замовлення" [formControl]="date" name="date" ngModel>
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="ПІБ" #clientName autocomplete="off" value="Mirek Sokol Test" name="name" ngModel>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Номер телефону" #clientPhoneNumber autocomplete="off" value="333" name="telephoneNumber" ngModel>
          </mat-form-field>
      </fieldset>

      <h3>Авто</h3>
      <fieldset>
        <mat-form-field>
          <input
          type="text"
          placeholder="Марка авто"
          aria-label="Марка авто"
          matInput
          #carMarque
          required
          name="carMarque"
          ngModel
          [formControl]="marqueControl"
          [matAutocomplete]="autoMarqueField">
          <mat-autocomplete #autoMarqueField="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptionsMarque | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <input
          type="text"
          placeholder="Модель марки"
          aria-label="Модель марки"
          matInput
          #carModel
          required
          name="carModel"
          ngModel
          [formControl]="modelControl"
          [matAutocomplete]="autoModelField">
          <mat-autocomplete #autoModelField="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptionsModel | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Рік випуску автомобіля" #carYear autocomplete="off" value="2019" name="carYear" ngModel>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Vin-код" #vinCode autocomplete="off" value="vin code" name="vinCode" ngModel>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Державний номер" #carNumber autocomplete="off" value="car number" name="carNumber" ngModel>
         </mat-form-field>
         <mat-form-field>
            <input matInput type="number" placeholder="Пробіг (км)" #runPeriod autocomplete="off" value="1000" name="runPeriod" ngModel>
         </mat-form-field>
      </fieldset>

        <h3>Що ремонтуємо?</h3>
        <fieldset>
        <mat-form-field appearance="outline" class="done__work__input">
          <mat-label>Виконана робота</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="10"
            cdkAutosizeMaxRows="10"
            placeholder="Виконана робота"
            name="doneWork"
            ngModel
          ></textarea>
        </mat-form-field>
      </fieldset>

      <h4>Додати запчастину</h4>
        <fieldset>
        <div class="add__cardetail__cont">
          <div class="cardetail__info">
            <mat-form-field class="cardetail__info__input">
              <input matInput #detailName placeholder="Назва">
            </mat-form-field>
            <mat-form-field class="cardetail__info__input">
              <input matInput type="number" #detailCost placeholder="Ціна">
            </mat-form-field>
          </div>
          <button mat-stroked-button color="primary" class="cardetail__info__btn" (click)="addNewDetail(detailName, detailCost)">Додати</button>
        </div>
        <div class="added__details">
          <mat-chip-list class="detail">
              <mat-chip *ngFor="let carDetail of carsDetails" class="detail__chip">{{ carDetail.name }} <span class="detail__cost">{{ carDetail.cost }} Грн</span> <button (click)="deleteDetail(carDetail.id)" class="detail__delete">✖</button></mat-chip>
          </mat-chip-list>
        </div>
        <h4 class="total__details__cost">Загальна вартість: {{ totalDetailCost }} Грн</h4>
      </fieldset>
    </mat-card-content>
    <mat-card-actions class="actions__panel">
        <button
        class="add__btn"
        mat-button
        type="submit">ДОДАТИ</button>
      <!-- <button
        class="add__btn"
        mat-button
        type="submit"
        (click)="send(carMarque, carModel, carYear, vinCode,
                      carNumber, clientName, clientPhoneNumber)">ДОДАТИ</button> -->
    </mat-card-actions>
  </form>
</mat-card>


<br>
<br>
<button (click)="getCars()">Read</button>
