@import "../../shared/scss-variables-mixins/variables-mixins.scss";

* {
  box-sizing: border-box;
}

.client__info__card {
  @include max-width(800px);
  margin: 20px auto;
  border-top: 5px solid $material-blue-dark;
}

div mat-form-field {
  margin: 10px 20px;
}

.actions__panel {
  display: flex;

  .add__btn {
    margin-left: auto;
    color: white;
    background-color: $material-green;
  }
}

.done__work__input {
  width: 95%;
  margin: auto;

  textarea {
    resize: none;
  }
}

  .carpart__info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;

    .carpart__info__input {
      width: 20%;
      min-width: 200px;
      margin: 0 20px;

      &:nth-child(2) {
        margin-right: 40px;
      }

    }

    .carpart__info__btn {
      margin: 0 20px;
    }

  }


.added__parts {
  width: 100%;
  height: 140px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid lightgray;
  border-radius: 4px;

  .part__chip {
    margin: 10px;
  }

  .part__cost {
    font-weight: bold;
    margin: 10px;
  }

  .part__delete {
    // font-weight: bold;
    color: lightgray;
    background-color: darkgray;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
}
