<mat-card class="client__info__card">
    <mat-card-header>
      <mat-card-title>Вкажіть інформацію про клієнта</mat-card-title>
      <mat-card-subtitle>поля позначені * є обов'язковими</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3>Особиста інформація клєнта</h3>
      <form>
          <mat-form-field>
            <input matInput placeholder="ПІБ" #clientName autocomplete="off" value="Mirek Sokol Test">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Номер телефону" #clientPhoneNumber autocomplete="off" value="333">
          </mat-form-field>
      </form>

      <h3>Авто</h3>
      <form>
        <mat-form-field>
          <input
          type="text"
          placeholder="Марка авто"
          aria-label="Марка авто"
          matInput
          #carMarque
          required
          [formControl]="marqueControl"
          [matAutocomplete]="autoMarqueField">
          <mat-autocomplete #autoMarqueField="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptionsMarque | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <input
          type="text"
          placeholder="Модель марки"
          aria-label="Модель марки"
          matInput
          #carModel
          required
          [formControl]="modelControl"
          [matAutocomplete]="autoModelField">
          <mat-autocomplete #autoModelField="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptionsModel | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Рік випуску автомобіля" #carYear autocomplete="off" value="2019">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Vin-код" #vinCode autocomplete="off" value="vin code">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Державний номер" #carNumber autocomplete="off" value="car number">
         </mat-form-field>
         <mat-form-field>
            <input matInput placeholder="Пробіг (км)" #runPeriod autocomplete="off" value="1000">
         </mat-form-field>
      </form>

        <h3>Що ремонтуємо?</h3>
        <mat-form-field appearance="outline" class="done__work__input">
          <mat-label>Виконана робота</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="10"
            cdkAutosizeMaxRows="10"
            placeholder="Виконана робота"
          ></textarea>
        </mat-form-field>
        <h4>Додати запчастину</h4>
        <div class="add__cardetail__cont">
          <div class="cardetail__info">
            <mat-form-field class="cardetail__info__input">
              <input matInput #detailName placeholder="Назва">
            </mat-form-field>
            <mat-form-field class="cardetail__info__input">
              <input matInput #detailCost placeholder="Ціна">
            </mat-form-field>
          </div>
          <button mat-stroked-button color="primary" class="cardetail__info__btn" (click)="addNewDetail(detailName, detailCost)">Додати</button>
        </div>
        <div class="added__details">
          <mat-chip-list class="detail">
              <mat-chip *ngFor="let carDetail of carsDetails" class="detail__chip">{{ carDetail.name }} <span class="detail__cost">{{ carDetail.cost }} Грн</span> <button class="detail__delete">✖</button></mat-chip>
          </mat-chip-list>
        </div>
    </mat-card-content>
    <mat-card-actions class="actions__panel">
      <button
        mat-button class="add__btn"
        (click)="send(carMarque, carModel, carYear, vinCode,
                      carNumber, clientName, clientPhoneNumber)">ДОДАТИ</button>
    </mat-card-actions>
</mat-card>


<br>
<br>
<button (click)="getCars()">Read</button>
